.buttonsWrapper {
    display: flex;
}

.btnToggle{
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
}

.suspiciousPacket {
  background-color: rgba(229, 131, 131, 0.56);
}

