:global(.ui.card).sessionCard {
  width: 100%;
  min-height: 5rem;
  max-height: 10rem;
  padding-top: 1.5em;
  border: 2px solid #F8F8F8;
  border-radius: 10px;
  box-shadow: none;
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


