@import '../../styles/common_variables';

:global(.ui.card).sessionCard {
  width: 100%;
  min-height: 5rem;
  max-height: 10rem;
  padding: 1em;
  border: 2px solid #F8F8F8;
  border-radius: 10px;
  box-shadow: none;
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .statusDelWrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .openState {
    border: 2px solid #66B9FF;
    color: #66B9FF;
    padding: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.9rem/50%;
    margin-right: 2em;
  }

  .closeState {
    border: 2px solid $red-notification;
    color: $red-notification;
    padding: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.9rem/50%;
    margin-right: 2em;
  }
}

