:global(.ui.card).sessionCard {
  width: 100%;
  min-height: 5rem;
  max-height: 10rem;
  padding: 1rem;
  border: 2px solid #F8F8F8;
  border-radius: 10px;
  box-shadow: none;
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toggleDelWrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .toggleBtn {
    margin-right: 2em;
  }
}


